.floor
	{
	background-color: maroon;
	width: 100%;
	height: 20px;
	}
.portal
	{
	background-image: url("mouse/pics/portal.png");
	}
.paint
	{
	background-image: url("mouse/pics/paint.png");
	}
.element
	{
	width: 100%;
	}